body{
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-brand{
  padding: 5px 10px;
}

.top-space{
  margin-top: 2em;
}

.red{
  background: red;
}

.green{
  background: green;
}

.blue{
  background: blue;
}

.no-resize{
  resize: none;
}

.link{
  text-decoration: none;
  color: #2196f3;
  font-size: 1.6em;
}

.link:hover{
  text-decoration: none;
  background: #90caf9;
  border-radius: 5px;
}
div.links ul{
  text-align: left;
}

div.links ul li{
  list-style: circle;
  margin-bottom: 2em;
}

.links{
  margin-top: 1.5em;
}

.center{
  text-align: center;
}

.checkbox-kitchen{
  margin-bottom: 2em;
}
